
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500';
*,
a,
body,
html {
    text-decoration: none;
    letter-spacing: 1.1;
    padding: 0;
    margin: 0;
    color: #222;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300 !important;

    h1,h2 {
      text-transform: uppercase;
      font-weight: 500 !important;
    }
}
body,
html {
    max-width: 100% !important;
}
body {
    .center {
        text-align: center;
        margin: auto;
        display: block;
    }
    header {
        padding: $gap;
    }
    @media screen and (max-width: $mobile-width) {
      section {
        padding-top: 150px !important;
      }
    }

    .row .container {
        max-width: 100%;
        width: 100%;
    }
    a:active,
    a:hover {
        text-decoration: none !important;
        border-bottom: 0;
    }
    footer {
        background-color: $black;
        padding: 40px $gap;
        p {
            @extend .center;
            color: $light;
        }
    }
    .card p {
        text-align: justify !important;
        text-justify: inter-word !important;
    }
    .brand-primary-bg {
        background-color: $brand-primary;
    }
    .wrapper {
      @media screen and(max-width: 767px) {
        padding-top: 80px;
      }
        padding: 40px 0;
    }
    .brand-inverse-bg {
        background-color: $brand-inverse;
        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            color: $light;
        }
    }
    .btn-big {
        // padding: 20px 40px;
        @extend .p-x-3;
        @extend .p-y-2;
        &:hover {
            // background-color: transparent;
        }
    }
    .mega-octicon {
        font-size: 40px !important;
    }
    .highlight {
        color: $brand-primary;
    }
    .text-dark {
        color: $black !important;
    }
    .text-light {
      color: $light;
    }
    .weight-500 {
      font-weight: 500 !important;
    }
    .modal.toast {
        .modal-dialog {
            margin-top: 20%;
            .modal-content {

                border: 0;
            }
        }
    }
    .fixed {
      position: fixed;
      &.top {
        top: $gap;
      }
      &.bottom {
        bottom: $gap;
      }
      &.left {
        left: $gap;
      }
      &.right {
        right: $gap;
      }
    }
    .absolute {
      position: absolute;
      &.top {
        top: $gap;
      }
      &.bottom {
        bottom: $gap;
      }
      &.left {
        left: $gap;
      }
      &.right {
        right: $gap;
      }
    }
    .card {
      border: 0 !important;
    }
}
