<section id="constant-contact" class="p-a-3">

    <h2>Constant Contact Registration</h2>

    <div class="form-group">
        <label>Organization name</label>
        <input type="text" class="form-control" placeholder="your organizaton name" [value]="data.organization" (input)="data.organization=$event.target.value">
    </div>

    <div class="form-group">
        <label>Website address</label>
        <input type="text" class="form-control" placeholder="exampledomain.com" [value]="data.website" (input)="data.website=$event.target.value">
    </div>

    <div class="form-group">
        <label><span class="text-info">*</span>Full name</label>
        <input type="text" class="form-control" placeholder="your first and last name" [value]="data.name" (input)="data.name=$event.target.value">
    </div>

    <div class="form-group">
        <label><span class="text-info">*</span>Email address</label>
        <small>*Will also be used as your username for Constant Contact</small>
        <input type="text" class="form-control" placeholder="your email address" [value]="data.email" (input)="data.email=$event.target.value">
    </div>

    <h5>Security questions</h5>
    <small><span class="text-info">*</span>Choose one to answer</small>
    <form class="m-b-1">
      <label class="btn btn-outline-secondary d-block text-light">
          <input type="radio" name="security" id="option3" value="0" (change)="test($event.target.value)">
          Where was your first Job?
      </label>
      <label class="btn btn-outline-secondary d-block text-light">
          <input type="radio" name="security" id="option3" value="1" (change)="test($event.target.value)">

              What was your first phone number?

      </label>

        <label class="btn btn-outline-secondary d-block text-light">
            <input type="radio" name="security" id="option1" value="2" (change)="test($event.target.value)">
            What was your first teacher's name?
        </label>
        <label class="btn btn-outline-secondary d-block text-light">
            <input type="radio" name="security" id="option2" value="3" (change)="test($event.target.value)">
            Who was your best childhood friend?
        </label>

        <label class="btn btn-outline-secondary d-block text-light">
            <input type="radio" name="security" id="option3" value="4" (change)="test($event.target.value)">
                What is your father's middle name?
        </label>
    </form>

    <div class="form-group" *ngIf="data.security.question > -1">
        <label><span class="text-info">*</span>{{questions[data.security.question]}}</label>
        <input type="text" class="form-control" id="contactInput" placeholder="your answer" [value]="data.security.answer" (input)="data.security.answer=$event.target.value">
    </div>
    <small class="p-t-2 text-light" *ngIf="processing">Processing.........</small>
    <button class="btn btn-outline-info btn-block p-a-1" [disabled]="processing" (click)="sendForm()">Create my account</button>

    <aside class="modal toast" role="dialog" *ngIf="showSuccess">
        <div class="modal-dialog modal-md">
            <div class="modal-content p-a-2 bg-info center">
                <p class="text-light weight-500">
                    Thank you! An account will be created with the username
                    <span class="text-danger">{{data.email}}</span>. You will receive a confirmation email when processing is complete containing your login information as a reminder. Please contact us if you have further questions at jonathan@otb.zone
                </p>
                <a class="btn btn-outline-danger" routerLink="/" (click)="dismiss()">Dismiss</a>
                <!-- <span class="mega-octicon octicon-clock"></span> -->
            </div>
        </div>
    </aside>
    <aside class="modal toast" role="dialog" *ngIf="showError">
        <div class="modal-dialog modal-md">
            <div class="modal-content p-a-2 bg-info center">
                <p class="text-light weight-500">
                    Whoops, an error has occured, please make sure you entered everything correctly and try again.
                </p>
                <!-- <span class="mega-octicon octicon-clock"></span> -->
            </div>
        </div>
    </aside>

</section>
