<section id="constant-contact" class="p-a-3">

    <h2>Constant Contact Registration</h2>

    <div class="form-group">
        <label>Organization name</label>
        <input type="text" class="form-control" placeholder="your organization name" [value]="data.organization" (input)="data.organization=$event.target.value">
    </div>

    <div class="form-group">
        <label>Website address</label>
        <input type="text" class="form-control" placeholder="exampledomain.com" [value]="data.website" (input)="data.website=$event.target.value">
    </div>

    <div class="form-group">
        <label>
            <span class="text-info">*</span>Full name</label>
        <input type="text" class="form-control" placeholder="your first and last name" [value]="data.name" (input)="data.name=$event.target.value">
    </div>

    <div class="form-group">
        <label>
            <span class="text-info">*</span>Email address</label>
        <small>*Will also be used as your username for Constant Contact</small>
        <input type="text" class="form-control" placeholder="your email address" [value]="data.email" (input)="data.email=$event.target.value">
    </div>

    <h5>Security questions</h5>
    <small>
        <span class="text-info">*</span>Choose one to answer</small>
    <form class="m-b-1">
        <div class="dropdown open">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" (click)="toggleDropdown()">
              <span *ngIf="data.security.question == -1">Select a security question</span>
              <span *ngIf="data.security.question > -1">{{questions[data.security.question]}}</span>
            </button>
            <div class="dropdown-menu" *ngIf="showDropdown">
                  <a class="btn btn-outline-secondary d-block" style="text-align: left" (click)="test(0)">
                  Where was your first Job?</a>
              <a class="btn btn-outline-secondary d-block" style="text-align: left" (click)="test(1)">
                  What was your first phone number?
              </a>

              <a class="btn btn-outline-secondary d-block" style="text-align: left" (click)="test(2)">
                  What was your first teacher's name?
              </a>
              <a class="btn btn-outline-secondary d-block" style="text-align: left" (click)="test(3)">
                  Who was your best childhood friend?
              </a>
              <a class="btn btn-outline-secondary d-block" style="text-align: left" (click)="test(4)">
                  What is your father's middle name?
              </a>
            </div>
        </div>
    </form>

    <div class="form-group" *ngIf="data.security.question > -1">
        <label>
            <span class="text-info">*</span>{{questions[data.security.question]}}</label>
        <input type="text" class="form-control" id="contactInput" placeholder="your answer" [value]="data.security.answer" (input)="data.security.answer=$event.target.value">
    </div>
    <small class="p-t-2 text-light" *ngIf="processing">Processing.........</small>
    <button class="btn btn-outline-info btn-block p-a-1" [disabled]="processing" (click)="sendForm()">Create my account</button>

    <aside class="modal toast" role="dialog" *ngIf="showSuccess">
        <div class="modal-dialog modal-md">
            <div class="modal-content p-a-2 bg-info center">
                <p class="text-light weight-500">
                    Thank you! An account will be created with the username
                    <span class="text-danger">{{data.email}}</span>. You will receive a confirmation email when processing is complete containing your login information as a reminder. Please contact us if you have further questions at jonathan@otb.zone
                </p>
                <a class="btn btn-outline-danger" routerLink="/" (click)="dismiss()">Dismiss</a>
                <!-- <span class="mega-octicon octicon-clock"></span> -->
            </div>
        </div>
    </aside>
    <aside class="modal toast" role="dialog" *ngIf="showError">
        <div class="modal-dialog modal-md">
            <div class="modal-content p-a-2 bg-info center">
                <p class="text-light weight-500">
                    Whoops, an error has occured, please make sure you entered everything correctly and try again.
                </p>
                <!-- <span class="mega-octicon octicon-clock"></span> -->
            </div>
        </div>
    </aside>

</section>
