<section id="landing">
    <section class="wrapper" id="services">
        <div class="container">
            <header class="center">
                <h1 class="text-info">Solutions</h1>
            </header>
            <div class="row solutions">
                <div class="col-lg-4">
                    <div class="card">
                        <header>
                            <h3 class="center">Hybrid App Development</h3>
                            <span class="center text-muted">Launch off fast</span>
                            <span class="p-a-1 mega-octicon octicon-rocket text-danger"></span>
                        </header>
                        <p>Leveraging modern technologies, our team crafts high quality mobile, desktop and web apps with tremendous code share. This allows us to get your app rolled out on multiple platforms in fractions of the time.</p>
                        <p>Custom built for you, everything you want, nothing you don't. Trust us, we love cookies, but skip those cookie cutter solutions. If you want your app to stand out from the pack, you are in the right place! We take the time to understand
                            your needs and come up with the best solution for the job at hand.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <header>
                            <h3 class="center">Graphic Design</h3>
                            <span class="center text-muted">Dreams should be beautiful</span>
                            <span class="p-a-1 mega-octicon octicon-paintcan text-danger"></span>
                        </header>
                        <p>Graphic design is way more than making a “pretty billboard” or playing around with Photoshop all day.” It is a way to reach consumers of all ages, colors and backgrounds. Graphic design allows us to reach consumers by increasing
                            brand awareness as well as helping to form last relations between consumers and businesses. As elementary as it may sound, visual communication simplifies life.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <header>
                            <h3 class="center">Services</h3>
                            <span class="center text-muted">We've got you covered</span>
                            <span class="p-a-1 mega-octicon octicon-plug text-danger"></span>
                        </header>
                        <p>Integrations.... Does your team use a CMS, CRM or Online Accounting Tool? Chances are we can take your integrations to the next level to streamline your business by maximizing your productivity. We are a constant contact partner.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper brand-inverse-bg">
        <div class="container">
            <header>
                <h1 class="center">Like what you see?</h1>
            </header>
            <p class="center">Don't hesitate to get in touch with us, by clicking the button below, or if you prefer give us a call at (970)372-9900. We are open around the clock, based out of the east coast.

            <button class="btn btn-outline-danger btn-big center m-t-2" (click)="showForm = true">Hire us</button>
        </div>
    </section>

    <section id="team" class="wrapper bg-info">
        <div class="container">
            <header>
                <h1 class="center text-light">Meet the team</h1>
            </header>
            <!-- <p class="center text-muted m-t-0 m-b-1 p-t-0">Our team is super magnificient. Check us out.</p> -->
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-danger">
                        <img class="card-img-top" width="100%" src="resources/images/jonathan.png" />
                        <div class="card-block">
                            <h4 class="card-title">Jonathan Hairgrove</h4>
                            <h5>CEO</h5>
                            <p class="card-text">
                                Years of sales and technology experience, he truly has seen it all. Jonathan has a passion for helping others and will serve as the gateway to your business' success.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card bg-danger">
                        <img class="card-img-top" width="100%" src="resources/images/brett.jpeg" />
                        <div class="card-block">
                            <h4 class="card-title">Brett Stetson</h4>
                            <h5>CTO</h5>
                            <p class="card-text">
                              Full-stack developer with a passion for javascript, the open source realm and modern web frameworks. Brett always puts the client first, working hard to bring you the best cutting-edge solution for your problems.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                    <div class="card bg-danger">
                        <img class="card-img-top" width="100%" src="resources/images/olivia.jpg" />
                        <div class="card-block">
                            <h4 class="card-title">Olivia Trimble</h4>
                            <h5>Graphic Designer</h5>
                            <p class="card-text">
                              From your website, packaging for your product, printed documents, emails to anything else. Beautiful and consistent design can make your business stick out from the rest, landing deals and fortifying relationships with more customers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal" *ngIf="showForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="showForm = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">We look forward to working with you!</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">What is your name?</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your name" [value]="formData.name" (input)="formData.name=$event.target.value">
                    </div>
                    <div class="form-group">
                        <label for="contactInput">How can we reach you?</label>
                        <input type="text" class="form-control" id="contactInput" placeholder="your email or phone" [value]="formData.email" (input)="formData.email=$event.target.value">
                    </div>
                    <div class="form-group">
                        <label for="aboutInput">Tell us about your project, or problem you need solved?</label>
                        <textarea class="form-control" id="aboutInput" rows="4" placeholder="what can we do for you" [value]="formData.about" (input)="formData.about=$event.target.value"></textarea>
                    </div>
                    <button class="btn btn-outline-danger btn-block p-a-1" (click)="sendForm()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <aside class="modal toast" role="dialog" *ngIf="showSuccess">
        <div class="modal-dialog modal-md">
            <div class="modal-content p-a-2 bg-danger center">
                <p class="text-light weight-500">
                    Thank you, we will get back to you within the next 48 hours!
                </p>
                <span class="mega-octicon octicon-clock"></span>
            </div>
        </div>
    </aside>
</section>
