section#landing {
  .card {
    padding: $gap 20px;
    h3, span {
      color: $light;
    }
    background-color: rgba($brand-info, 1);
    span {
      // color: $brand-inverse;
    }
    h1,h5,p {
      color: $light !important;
    }
  }
    section#services {
        header {
            text-align: center;
            h2,
            h5 {
                color: $black;
            }
        }
    }

}
