<section id="camping">
    <article class="container">
        <h1>Make the most of your marketing</h1>

        <div class="container">
            <img class="camp-icon" src="resources/images/cloud.png" />
            <h3>Consistent emails skyrocket customer loyalty</h3>
            <p>
                Engaging with your customers on a regular basis promotes a healthy relationship. Your customers truly care about what's going on at your campground, be sure to let them know! Setting up automated email marketing really is not that hard, checkout Constant
                Contact.
            </p>
            <p>
                We here at OTB are partners with Constant Contact and can get you setup fast. We offer a few plans when you setup your account with Constant Contact via OTB:
            </p>

            <ul>
                <li><span class="text-yell">- Free:</span> You get access to the community channel and one free Email Review a month with tips and recommended edits</li>
                <li><span class="text-yell">- Monthly Training:</span> We will educate and work with you on your emails each month, including Events and Surveys. This plan also includes Growth Tools and recommendations.
                </li>
                <li><span class="text-yell">- Monthly Do it For Me:</span> We will get to know your needs, business and desired ROI in order to execute your emails, events and surveys monthly. This plan also includes Growth Tools and recommendations.</li>
                <li><span class="text-yell">- Monthly Helpful:</span> We will work with you on your emails each month.</li>
            </ul>
            <img class="p-y-0 m-y-0" style="width: 100%; max-width: 600px" src="resources/images/ctct.png" alt="Constant Contact" />
            <a class="btn btn-outline-danger p-a-1" routerLink="/constant-contact">Sign up for Constant Contact thru OTB for a free 30 day trial!</a>
        </div>

        <div class="container">
            <img class="camp-icon" src="resources/images/fire.png" />
            <h3>3 secrets for happy customers</h3>
            <ul>
                <li>
                    <span class="text-yell">1.</span> Customer service. Nothing new here, having good customer service is so crucial no matter the circumstance.
                </li>
                <li>
                    <span class="text-yell">2.</span> Make it easy to reserve a campground. Give campers multiple ways to secure spots at your campground. This could be over the phone, through a website, via an app, the more gateways to get to you the
                    better. A
                </li>
                <li>
                    <span class="text-yell">3.</span> Email marketing. Steady communication can be the key to success.</li>
            </ul>
            <p>

            </p>
        </div>

        <div class="container">
            <img class="camp-icon" src="resources/images/stream.png" />
            <h3>Add another stream of revenue to your campground</h3>
            <p>
                Let's face it, in this day and age your customers are on the web constantly. Questions need answers, your customers are asking.
            </p>

            <ul>
                <li><span class="text-yell">-</span> Where are we going camping this weekend?</li>
                <li><span class="text-yell">-</span> To find the best answer to that question, 9/10 campers will go to google and start searching for campgrounds to brainstorm ideas.</li>
                <li><span class="text-yell">-</span> Will your campground be on there? And if so, can you reserve a site from your 'site'?</li>
            </ul>
        </div>

        <div class="container">
            <!-- <img class="camp-icon" src="resources/images/tent.png" /> -->
            <img class="camp-icon" src="resources/images/teepee.png" />

            <h3>Why your campground needs a web presence</h3>
            <div class="row">
                <div class="col col-lg-6">
                    <p>
                        A website serves as a a gathering place for information. Having that information handy and easy to find on the internet can go a long way in customer success. Visitors can interact with your site, which can expand to integrate with other tools you use
                        on a daily basis like Constant Contact and Quickbooks. Settings integrations can eliminate manual data entry that eats up a lot of your time.
                    </p>
                    <p>
                        You don't need to have a full featured, all the bells and whistles website. A simple, elegant, to the point website can be easier to navigate and an overall better experience for your users. This allows visitors to get to the most important information
                        quickly.
                    </p>
                    <p>
                        Websites in the modern age don't need to be all one way communication, you can allow your visitors to engage with you and take action. For example, online sign ups, discussion boards, the list goes on. These interactive features can be added on to your
                        website to truly bring the user experience to life.
                    </p>

                </div>
                <div class="col col-lg-6">
                    <h4 class="p-b-0 m-b-0">
                    Other options
                  </h4>
                    <h5 class="m-b-0 p-b-0">Social media</h5>
                    <p>
                        Whether you already have a website or feel a website just is not for you. Social media is a great way to captivate your campers.Setting up a business account on Facebook for free is a great way to get your foot in the door in the digital world. Out of
                        the box it engages with your users, and allows you to develop great customer relationships.
                    </p>
                    <h5 class="p-b-0 m-b-0">
                      Mobile app
                    </h5>
                    <ul>
                        <li>
                            <span class="text-yell">-</span> Reward tracking
                        </li>
                        <li>
                            <span class="text-yell">-</span> Increase customer service
                        </li>
                        <li>
                            <span class="text-yell">-</span> Make a request via the app for better tracking of needs of your customers while they are visiting.
                        </li>
                        <li>
                            <span class="text-yell">-</span> Allow users to engage with your site and book reservations from a mobile device
                        </li>
                    </ul>

                </div>

            </div>
            <div class="center">
                <h4 style="margin-bottom: -10px !important" class="p-b-0 m-b-0">Interested in a website, app or social media setup?</h4>
                <p style="padding-top: -10px !important">
                    Our team will work hard to get you the best solution for your situation. Contact us with absolutely no obligations for a free consultation.
                </p>
                <a class="btn btn-outline-danger text-danger p-a-1" (click)="showForm = true">Contact us</a>
            </div>
        </div>

        <div class="container">
            <div class="btn-group hidden-sm">
                <a href="#" routerLink="/constant-contact" class="btn btn-outline-danger">Constant Contact Registration</a>
                <a href="#" (click)="showForm = true" class="btn btn-outline-danger text-danger">Contact Us</a>
                <a href="#" routerLink="/" class="btn btn-outline-danger"><span class="text-light octicon octicon-home"></span> Go Home</a>
            </div>
        </div>
    </article>
    <div class="modal" *ngIf="showForm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close" (click)="showForm = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Get a free consultation</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">What is your name?</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="your name" [value]="formData.name" (input)="formData.name=$event.target.value">
                    </div>
                    <div class="form-group">
                        <label for="contactInput">How can we reach you?</label>
                        <input type="text" class="form-control" id="contactInput" placeholder="your email or phone" [value]="formData.email" (input)="formData.email=$event.target.value">
                    </div>
                    <div class="form-group">
                        <label for="aboutInput">Tell us about your project, or problem you need solved?</label>
                        <textarea class="form-control" id="aboutInput" rows="4" placeholder="what can we do for you" [value]="formData.about" (input)="formData.about=$event.target.value"></textarea>
                    </div>
                    <small class="p-t-2 text-info" *ngIf="processing">Processing.........</small>
                    <button class="btn btn-outline-danger btn-block p-a-1" (click)="sendForm()" [disabled]="processing">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <aside class="modal toast" role="dialog" *ngIf="showSuccess">
        <div class="modal-dialog modal-md">
            <div class="modal-content p-a-2 bg-danger center">
                <p class="text-light weight-500">
                    Thank you, we will get back to you within the next 48 hours!
                </p>
                <span class="mega-octicon octicon-clock"></span>
            </div>
        </div>
    </aside>
</section>
